ObliJ2EE/src/conf/xml-resources/web-service-references/ServiciosManagerWebServiceService/wsdl/localhost_8080/ObliJ2EE/ServiciosManagerWebServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="getSaldo" type="tns:getSaldo" />

<xs:element name="getSaldoResponse" type="tns:getSaldoResponse" />

<xs:element name="pagar" type="tns:pagar" />

<xs:element name="pagarResponse" type="tns:pagarResponse" />

<xs:complexType name="getSaldo">
<xs:sequence>
<xs:element name="idServicio" type="xs:int" minOccurs="0" />
<xs:element name="idUsuario" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSaldoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pagar">
<xs:sequence>
<xs:element name="servicioID" type="xs:int" minOccurs="0" />
<xs:element name="clienteID" type="xs:int" minOccurs="0" />
<xs:element name="monto" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pagarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>