trunk/ObliJ2EE/src/conf/xml-resources/web-service-references/CoreBancoWebServiceService/wsdl/localhost_8080/ObliJ2EE/CoreBancoWebServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Exception" type="tns:Exception" />

<xs:element name="confirmarRerva" type="tns:confirmarRerva" />

<xs:element name="confirmarRervaResponse" type="tns:confirmarRervaResponse" />

<xs:element name="count" type="tns:count" />

<xs:element name="countResponse" type="tns:countResponse" />

<xs:element name="create" type="tns:create" />

<xs:element name="edit" type="tns:edit" />

<xs:element name="find" type="tns:find" />

<xs:element name="findAll" type="tns:findAll" />

<xs:element name="findAllResponse" type="tns:findAllResponse" />

<xs:element name="findRange" type="tns:findRange" />

<xs:element name="findRangeResponse" type="tns:findRangeResponse" />

<xs:element name="findResponse" type="tns:findResponse" />

<xs:element name="getSaldoById" type="tns:getSaldoById" />

<xs:element name="getSaldoByIdResponse" type="tns:getSaldoByIdResponse" />

<xs:element name="getSaldosClientes" type="tns:getSaldosClientes" />

<xs:element name="getSaldosClientesResponse" type="tns:getSaldosClientesResponse" />

<xs:element name="remove" type="tns:remove" />

<xs:element name="reservar" type="tns:reservar" />

<xs:element name="reservarResponse" type="tns:reservarResponse" />

<xs:complexType name="getSaldoById">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSaldoByIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="entity" type="tns:cliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="clienteHasServicioCollection" type="tns:clienteHasServicio" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="saldoCuenta" type="xs:double" minOccurs="0" />
<xs:element name="saldoReservado" type="xs:double" minOccurs="0" />
<xs:element name="tipocliente" type="tns:tipocliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="clienteHasServicio">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0" />
<xs:element name="clienteHasServicioPK" type="tns:clienteHasServicioPK" minOccurs="0" />
<xs:element name="debitoCollection" type="tns:debito" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="fechaFin" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0" />
<xs:element name="montoDebitar" type="xs:double" minOccurs="0" />
<xs:element name="periodicidad" type="xs:double" minOccurs="0" />
<xs:element name="servicio" type="tns:servicio" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="clienteHasServicioPK">
<xs:sequence>
<xs:element name="clienteid" type="xs:int" />
<xs:element name="servicioid" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="debito">
<xs:sequence>
<xs:element name="clienteHasServicio" type="tns:clienteHasServicio" minOccurs="0" />
<xs:element name="clienteid" type="xs:int" />
<xs:element name="confirmado" type="xs:boolean" minOccurs="0" />
<xs:element name="fechaEjecucion" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="montoDebitado" type="xs:string" minOccurs="0" />
<xs:element name="resultado" type="xs:string" minOccurs="0" />
<xs:element name="servicioid" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="servicio">
<xs:sequence>
<xs:element name="clienteHasServicioCollection" type="tns:clienteHasServicio" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipocliente">
<xs:sequence>
<xs:element name="clienteCollection" type="tns:cliente" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="idTipoCliente" type="xs:int" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSaldosClientes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getSaldosClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:hashMap" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractMap" abstract="true">
<xs:sequence />
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="entity" type="tns:cliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="confirmarRerva">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="confirmarRervaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence />
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="entity" type="tns:cliente" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence />
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservar">
<xs:sequence>
<xs:element name="usuarioId" type="xs:int" minOccurs="0" />
<xs:element name="monto" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>