trunk/ObliJ2EE/src/conf/xml-resources/web-service-references/CoreBancoWebServiceService/wsdl/localhost_8080/ObliJ2EE/CoreBancoWebServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="CoreBancoWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ObliJ2EE/CoreBancoWebServiceService?xsd=1" />
</xsd:schema>
</types>
<message name="count">
<part name="parameters" element="tns:count" />
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse" />
</message>
<message name="find">
<part name="parameters" element="tns:find" />
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse" />
</message>
<message name="remove">
<part name="parameters" element="tns:remove" />
</message>
<message name="create">
<part name="parameters" element="tns:create" />
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll" />
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse" />
</message>
<message name="edit">
<part name="parameters" element="tns:edit" />
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange" />
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse" />
</message>
<message name="getSaldosClientes">
<part name="parameters" element="tns:getSaldosClientes" />
</message>
<message name="getSaldosClientesResponse">
<part name="parameters" element="tns:getSaldosClientesResponse" />
</message>
<message name="getSaldoById">
<part name="parameters" element="tns:getSaldoById" />
</message>
<message name="getSaldoByIdResponse">
<part name="parameters" element="tns:getSaldoByIdResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="reservar">
<part name="parameters" element="tns:reservar" />
</message>
<message name="reservarResponse">
<part name="parameters" element="tns:reservarResponse" />
</message>
<message name="confirmarRerva">
<part name="parameters" element="tns:confirmarRerva" />
</message>
<message name="confirmarRervaResponse">
<part name="parameters" element="tns:confirmarRervaResponse" />
</message>
<portType name="CoreBancoWebService">
<operation name="count">
<input wsam:Action="http://ws/CoreBancoWebService/countRequest" message="tns:count" />
<output wsam:Action="http://ws/CoreBancoWebService/countResponse" message="tns:countResponse" />
</operation>
<operation name="find">
<input wsam:Action="http://ws/CoreBancoWebService/findRequest" message="tns:find" />
<output wsam:Action="http://ws/CoreBancoWebService/findResponse" message="tns:findResponse" />
</operation>
<operation name="remove">
<input wsam:Action="http://ws/CoreBancoWebService/remove" message="tns:remove" />
</operation>
<operation name="create">
<input wsam:Action="http://ws/CoreBancoWebService/create" message="tns:create" />
</operation>
<operation name="findAll">
<input wsam:Action="http://ws/CoreBancoWebService/findAllRequest" message="tns:findAll" />
<output wsam:Action="http://ws/CoreBancoWebService/findAllResponse" message="tns:findAllResponse" />
</operation>
<operation name="edit">
<input wsam:Action="http://ws/CoreBancoWebService/edit" message="tns:edit" />
</operation>
<operation name="findRange">
<input wsam:Action="http://ws/CoreBancoWebService/findRangeRequest" message="tns:findRange" />
<output wsam:Action="http://ws/CoreBancoWebService/findRangeResponse" message="tns:findRangeResponse" />
</operation>
<operation name="getSaldosClientes">
<input wsam:Action="http://ws/CoreBancoWebService/getSaldosClientesRequest" message="tns:getSaldosClientes" />
<output wsam:Action="http://ws/CoreBancoWebService/getSaldosClientesResponse" message="tns:getSaldosClientesResponse" />
</operation>
<operation name="getSaldoById">
<input wsam:Action="http://ws/CoreBancoWebService/getSaldoByIdRequest" message="tns:getSaldoById" />
<output wsam:Action="http://ws/CoreBancoWebService/getSaldoByIdResponse" message="tns:getSaldoByIdResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/CoreBancoWebService/getSaldoById/Fault/Exception" />
</operation>
<operation name="reservar">
<input wsam:Action="http://ws/CoreBancoWebService/reservarRequest" message="tns:reservar" />
<output wsam:Action="http://ws/CoreBancoWebService/reservarResponse" message="tns:reservarResponse" />
</operation>
<operation name="confirmarRerva">
<input wsam:Action="http://ws/CoreBancoWebService/confirmarRervaRequest" message="tns:confirmarRerva" />
<output wsam:Action="http://ws/CoreBancoWebService/confirmarRervaResponse" message="tns:confirmarRervaResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws/CoreBancoWebService/confirmarRerva/Fault/Exception" />
</operation>
</portType>
<binding name="CoreBancoWebServicePortBinding" type="tns:CoreBancoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="count">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="find">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="remove">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="create">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="edit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSaldosClientes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSaldoById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="reservar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="confirmarRerva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
</binding>
<service name="CoreBancoWebServiceService">
<port name="CoreBancoWebServicePort" binding="tns:CoreBancoWebServicePortBinding">
<soap:address location="http://localhost:8080/ObliJ2EE/CoreBancoWebServiceService" />
</port>
</service>
</definitions>